/* Error: Undefined mixin.
 *     ,
 * 145 | /     @include tablette {
 * 146 | |       grid-template-columns: 50% 50%;
 * 147 | |       /*grid-template-rows: 20vh 1fr 1fr;*∕
 * 148 | |       flex-wrap: wrap;
 * 149 | |       padding-bottom: 4rem;
 * 150 | |       gap: 20px;   
 * 151 | |       @include mp-rest-cards;
 * 152 | |     @include mobile-only{
 * 153 | |      display: flex;
 * 154 | |      width: 100%;
 * 155 | |      flex-direction: column;
 * 156 | |       @include mp-rest-cards;
 * 157 | |           .__card{
 * 158 | |             @include tablette{
 * 159 | |               grid-column: 1 / span 3;
 * 160 | |               grid-row: 2 / span 4;
 * 161 | |               @include mobile-only{
 * 162 | |                 grid-column: 1 / 2;
 * 163 | |                 grid-row: 2 / span 6;
 * 164 | |                 text-decoration: none;
 * 165 | |                 color: black;
 * 166 | |                 border-radius: 20px 20px 20px 20px;
 * 167 | |                 box-sizing: border-box;
 * 168 | |                 box-shadow: 1px 1px 0 0 darkgray;
 * 169 | |                 margin-bottom: 20px;
 * 170 | |                 position:relative;
 * 171 | |                 background-color: white;    
 * 172 | |                 .title_nav{
 * 173 | |                   font-size: 1.2rem;
 * 174 | |                   font-weight: 900;
 * 175 | |                   margin: 0;
 * 176 | |                 }
 * 177 | |               }
 * 178 | |             }
 * 179 | |         }
 * 180 | |       }
 * 181 | \     }
 *     '
 *   sass\_pages.scss 145:5  @import
 *   sass\main.scss 9:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 145 \2502  \250c      @include tablette {\a 146 \2502  \2502        grid-template-columns: 50% 50%;\a 147 \2502  \2502        /*grid-template-rows: 20vh 1fr 1fr;*/\a 148 \2502  \2502        flex-wrap: wrap;\a 149 \2502  \2502        padding-bottom: 4rem;\a 150 \2502  \2502        gap: 20px;   \a 151 \2502  \2502        @include mp-rest-cards;\a 152 \2502  \2502      @include mobile-only{\a 153 \2502  \2502       display: flex;\a 154 \2502  \2502       width: 100%;\a 155 \2502  \2502       flex-direction: column;\a 156 \2502  \2502        @include mp-rest-cards;\a 157 \2502  \2502            .__card{\a 158 \2502  \2502              @include tablette{\a 159 \2502  \2502                grid-column: 1 / span 3;\a 160 \2502  \2502                grid-row: 2 / span 4;\a 161 \2502  \2502                @include mobile-only{\a 162 \2502  \2502                  grid-column: 1 / 2;\a 163 \2502  \2502                  grid-row: 2 / span 6;\a 164 \2502  \2502                  text-decoration: none;\a 165 \2502  \2502                  color: black;\a 166 \2502  \2502                  border-radius: 20px 20px 20px 20px;\a 167 \2502  \2502                  box-sizing: border-box;\a 168 \2502  \2502                  box-shadow: 1px 1px 0 0 darkgray;\a 169 \2502  \2502                  margin-bottom: 20px;\a 170 \2502  \2502                  position:relative;\a 171 \2502  \2502                  background-color: white;    \a 172 \2502  \2502                  .title_nav{\a 173 \2502  \2502                    font-size: 1.2rem;\a 174 \2502  \2502                    font-weight: 900;\a 175 \2502  \2502                    margin: 0;\a 176 \2502  \2502                  }\a 177 \2502  \2502                }\a 178 \2502  \2502              }\a 179 \2502  \2502          }\a 180 \2502  \2502        }\a 181 \2502  \2514      }\a     \2575 \a   sass\\_pages.scss 145:5  @import\a   sass\\main.scss 9:9      root stylesheet";
}
