//IMG COUVERTURE PAGE MENU
.cover_img{
height: 300px;
object-fit: cover;
width: 100%;
}

.logo-nav a img{
width: 200px;
height: 30px;
}
//BOUTON ROSE DEGRADE
.btn {
    @extend %typography;
    &:hover {
      transform: scale(1.15);
      background: linear-gradient($color-secondary-lighten, $color-primary-lighten);
    }
  }

  .btn-explorer {
    @include btn-explorer;
    }

//ANIMATION PAGE MENU - BTN VERT+ROTATE
.txt-menu{
  &:hover .btn-freshmint{
    transform: translate(-100px, 0);
    transition: all 1s ease;
    width: $width;
    height: auto;
    border-radius: 0 20px 20px 0;
    background-color: $color-third;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.btn-freshmint{
  width: 0;
  color: transparent;
  margin-right: -100px;
  margin-left: 20px;
  overflow: hidden;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.rotate{
    color: #fff;
    background-color: $color-third;
    border-radius: 50%;
    font-size: 1.4rem;
    width: 60px;
    text-align: center;
    height: 12vh;
    line-height: 12vh;
}

.txt-menu:hover .rotate{
  animation: rotatebtn ease 1s 1;
  animation-delay: 0.5s;
}

@keyframes rotatebtn{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

/*.btn__check{
  transition: 2.5s;
  width: 60px;
  transition: all 0.5s ease;
}*/

//ANIMATION DU COEUR
