//IMG COUVERTURE PAGE MENU
.cover_img{
height: 300px;
object-fit: cover;
width: 100%;
}

.logo-nav a img{
width: 200px;
height: 30px;
}
//BOUTON ROSE DEGRADE
.btn {
    @extend %typography;
    &:hover {
      transform: scale(1.15);
      background: linear-gradient($color-secondary-lighten, $color-primary-lighten);
    }
  }

  .btn-explorer {
    @include btn-explorer;
    }

//ANIMATION PAGE MENU - BTN VERT+ROTATE
.txt-menu{
  &:hover .btn-freshmint{
    transform: translate(-100px, 0);
    width: $width;
    height: auto;
    border-radius: 0 20px 20px 0;
    background-color: $color-third;
  }
}
.btn-freshmint{
  width: 0;
  color: transparent;
  margin-right: -100px;
  margin-left: 20px;
  overflow: hidden;
  height: auto;
  transition: transform 1s ease-in-out;
}

.rotate{
    color: #fff;
    background-color: $color-third;
    border-radius: 50%;
    font-size: 1.3rem;
    width: 60px;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

.btn__check{
  transition: 2.5s;
  width: 60px;
  transition: rotate 5s ease-in-out;
}

.btn-freshmint:hover {
  -o-transform:rotate(720deg);
  -ms-transform:rotate(720deg);
  -moz-transform:rotate(720deg);
  -webkit-transform:rotate(720deg);
  transform:rotate(720deg);
}
