
.proj-layout {
  display: grid;
  grid-template-columns: 100%;
  margin: auto;
}


//HEADER ACCUEIL
.header {
    @include heading;
    box-shadow: 0 1px 4px grey;
    border-bottom: 2px solid #f4f4f4;
      a img {
        width: 160px;
      }
  }
  
  //HEADER MENU
  .header--menu{
    display: flex;
    flex-direction: column;
    align-items: center;
      > .logo-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: white;
        width: 100%;
        box-shadow: 0 1px 4px grey;
        border-bottom: 2px solid #f4f4f4;
        height: 65px;
        > .fleche_menu{
          position: relative;
          font-size: 1.8rem;
          color: rgb(63, 60, 60);
        }
      }
  }

  //FOOTER
  
  
  .footer-list {
    font-family: "roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    & a{
      text-decoration: none;
      color: white;
      flex-direction: column;
      & span{
        position: absolute;
        margin-left: 15px;
      }
    }
  }

.i-foot, .txt-foot{
display: inline-flex;
}

.i-hands{
transform: perspective(150px) rotateZ(125deg);
font-size: 0.8rem;
}

i.ustensils{
  font-size: 0.8rem;
}