/* ****LOADER SPINNER**** */
@keyframes loader-spinner{
    100%{
      opacity: 0;
      z-index: -10;
    }
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .loader-spinner{
      animation: loader-spinner 3s;
      animation-delay: 2s;
      animation-fill-mode: both;
      background: rgba(10, 10, 10, 0.6);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
      z-index: 999;
      img{
        height: 10vh;
        position: relative;
        top: 15em;
        opacity: 0.4;
        max-width: 100%;
    }
  }
  
  .loader {
    display: inline-block;
    position: relative;
    top: 15em;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border: 4px solid transparent;
    border-top-color: #ff79da;
    animation: loader 2s infinite;
    border-radius: 50%;
    overflow: hidden;
    padding: 20px;
  }
  
  .loader__cover {
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  
  .loader__bar {
    animation: loader 2s infinite;
    position: absolute;
    left: 0;
    top: 5em;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
  }
  
  
  .loader::before {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ff79da;
    animation: loader 2s infinite;
  }
  
  .loader::before {
    content: "";
  }