//variables
$color-primary: #9356DC;
$color-primary-lighten: #9256dcb6;
$color-pastel: #9256dc2f;
$color-secondary: #ff79da;
$color-secondary-lighten: #ff79d9a2;
$color-third: #99E2D0;
$color-darken:#1a6653;
$bgc: #f2f2f2;
$btn-shadow-size: 0.6rem 0.6rem 0.6rem;
$subtitle-h2: 1.3rem;

//VARIABLE ANIMATION PAGE MENU
$easing: cubic-bezier(.49,.18,.23,1);
  $width: 50px;
  $height: 105px;
  $line-height: 105px;
  $margin-left: 100px;
  $wid-marg: $width + $margin-left;
