.btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356DC));
  background: linear-gradient(#ff79da, #9356DC);
  font-size: 0.9rem;
  -webkit-box-shadow: 0.6rem 0.6rem 0.6rem;
          box-shadow: 0.6rem 0.6rem 0.6rem;
  font-weight: 400;
  border-radius: 30px;
  width: 200px;
  line-height: 50px;
  height: 50px;
  border: none;
  margin-top: 20px;
  -webkit-transition: background-color 300ms 3s, -webkit-transform 1s;
  transition: background-color 300ms 3s, -webkit-transform 1s;
  transition: transform 1s, background-color 300ms 3s;
  transition: transform 1s, background-color 300ms 3s, -webkit-transform 1s;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

:-moz-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

:any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.cover_img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.logo-nav a img {
  width: 200px;
  height: 30px;
}

.btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79d9a2), to(#9256dcb6));
  background: linear-gradient(#ff79d9a2, #9256dcb6);
}

.btn-explorer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-freshmint {
  width: 0;
  color: transparent;
  margin-right: -100px;
  margin-left: 20px;
  overflow: hidden;
  height: auto;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.txt-menu:hover .btn-freshmint {
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
  width: 50px;
  height: auto;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}

.txt-menu:hover + .check__anim .btn__anim {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.check__anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__check {
  text-align: center;
  height: 18vh;
  line-height: 18vh;
  overflow: hidden;
}

.btn__check--custom {
  color: #fff;
  background-color: #99E2D0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 60px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 1px 4px grey;
          box-shadow: 0 1px 4px grey;
  border-bottom: 2px solid #f4f4f4;
}

.header a img {
  width: 160px;
}

.header--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--menu > .logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px grey;
          box-shadow: 0 1px 4px grey;
  border-bottom: 2px solid #f4f4f4;
  height: 65px;
}

.header--menu > .logo-nav > .fleche_menu {
  position: relative;
  font-size: 1.8rem;
  color: #3f3c3c;
}

.nav-footer {
  position: relative;
  margin: 0;
  background-color: #3f3c3c;
  color: white;
  padding-left: 3rem;
  line-height: 32px;
  display: block;
}

.nav-footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list {
  font-family: "roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list a {
  text-decoration: none;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list a span {
  position: absolute;
  margin-left: 15px;
}

.i-foot, .txt-foot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.i-hands {
  -webkit-transform: perspective(150px) rotateZ(125deg);
          transform: perspective(150px) rotateZ(125deg);
  font-size: 0.8rem;
}

i.ustensils {
  font-size: 0.8rem;
}

.introduction {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.introduction > .input-container {
  position: relative;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
}

.introduction > .input-container > .input_icon {
  position: absolute;
  padding-right: 8em;
}

.introduction > .input-container > .input_icon > .head-titles {
  font-family: "roboto", sans-serif;
  display: block;
  text-align: center;
  line-height: normal;
}

.introduction > .input-container > .input_icon > .head-titles .title_main {
  font-family: 'Roboto',sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  width: 100%;
}

.introduction > .input-container > .input_icon > .head-titles .title_main h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto';
}

.search_bare {
  width: 100%;
  -webkit-box-shadow: 0 1px 4px #808080;
          box-shadow: 0 1px 4px #808080;
}

input {
  line-height: 40px;
  height: 40px;
  text-align: center;
  border: none;
  width: 100%;
  background-color: lightgray;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

input::-webkit-input-placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

input:-ms-input-placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

input::-ms-input-placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

input::placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.nav_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0;
}

.nav_main .nav__heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 0px 0px #c8c5c5;
          box-shadow: 1px 1px 0px 0px #c8c5c5;
  font-family: 'roboto',sans-serif;
  background-color: #f2f2f2;
  margin: .5rem;
  padding: .5rem;
  cursor: pointer;
}

.nav_main .nav__heading:hover {
  background: #f2eafb;
  -webkit-box-shadow: 2px 2px 10px 2px #e4d5f6;
          box-shadow: 2px 2px 10px 2px #e4d5f6;
}

.nav_main .nav__heading .nav_number {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: white;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  right: 1.5em;
}

.nav_main .nav__heading .nav_number + .nav_custom_icon {
  color: darkgray;
  font-size: 1.3rem;
  margin-right: 20px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.nav_main .nav__heading .nav_number + .nav_custom_icon:hover {
  color: #9356DC;
}

.nav_main .nav__heading .nav_number + .nav_custom_icon:hover + .title_nav {
  font-size: 1em;
}

#restaurant_cards {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 1024px) {
  #restaurant_cards {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    /*grid-template-rows: 20vh 1fr 1fr;*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 4rem;
    gap: 20px;
    font-family: 'Roboto',sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f2f2f2;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1024px) and (max-width: 599px) {
  #restaurant_cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto',sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f2f2f2;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1024px) and (max-width: 599px) and (max-width: 1024px) {
  #restaurant_cards .__card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2 / span 4;
  }
}

@media screen and (max-width: 1024px) and (max-width: 599px) and (max-width: 1024px) and (max-width: 599px) {
  #restaurant_cards .__card {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / span 6;
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 0 0 darkgray;
            box-shadow: 1px 1px 0 0 darkgray;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
  }
  #restaurant_cards .__card .title_nav {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
  }
}

.__card {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 6px 2px darkgray;
          box-shadow: 0 0 6px 2px darkgray;
}

.subtitle-accueil {
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 3rem;
}

@media screen and (max-width: 1024px) {
  .subtitle-accueil {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding-top: 2rem;
  }
}

.description_card {
  font-family: 'Roboto',sans-serif;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

@media screen and (max-width: 1024px) {
  .description_card > .des-txt h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .description_card > .des-txt h3 + .pargph {
    margin: 0;
    font-size: 1.1rem;
  }
}

.description_card, .i-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i-heart {
  font-size: 2rem;
  color: #5a5757;
}

.i-heart:hover {
  color: blueviolet;
}

label {
  background-color: #99E2D0;
  width: 100px;
  color: #1a6653;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  font-weight: 800;
  font-family: 'roboto',sans-serif;
  position: absolute;
  bottom: 11em;
  right: 1em;
}

@media screen and (max-width: 1024px) {
  label {
    position: relative;
    bottom: 9em;
    left: 1em;
  }
}

.enchante, .dish, .pudding {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  padding-left: 15px;
  -webkit-box-shadow: 0.6rem 0.6rem 0.6rem;
          box-shadow: 0.6rem 0.6rem 0.6rem;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'roboto', sans-serif;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 18vh;
}

.enchante > .txt-card, .dish > .txt-card, .pudding > .txt-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

.enchante > .txt-card h3, .dish > .txt-card h3, .pudding > .txt-card h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.enchante > .txt-card h3 + p, .dish > .txt-card h3 + p, .pudding > .txt-card h3 + p {
  font-size: 0.9rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 100px;
}

.menu_main {
  background-color: #f2f2f2;
  border-radius: 40px 40px 0 0;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: -30px;
}

.menu_main h1, .menu_main .i-heart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.entry-contenair {
  width: 100%;
}

.subtitle-menu-card {
  width: 5%;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-left: 20px;
  text-transform: uppercase;
}

.txt-card, strong {
  display: inline-block;
}

.titre-menu {
  font-family: 'Shrikhand',sans-serif;
  font-size: 1.3rem;
  padding-left: 20px;
}

.welcome_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

/* ****LOADER SPINNER**** */
@-webkit-keyframes loader-spinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader-spinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.loader-spinner {
  -webkit-animation: loader-spinner 3s;
          animation: loader-spinner 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 999;
}

.loader-spinner img {
  height: 10vh;
  position: relative;
  top: 15em;
  opacity: 0.4;
  max-width: 100%;
}

.loader {
  display: inline-block;
  position: relative;
  top: 15em;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: loader 2s infinite;
          animation: loader 2s infinite;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
}

.loader__cover {
  position: relative;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.loader__bar {
  -webkit-animation: loader 2s infinite;
          animation: loader 2s infinite;
  position: absolute;
  left: 0;
  top: 5em;
  border-radius: 100%;
  width: 50%;
  height: 50%;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.loader::before {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: loader 2s infinite;
          animation: loader 2s infinite;
}

.loader::before {
  content: "";
}

.proj-layout {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin: auto;
}

@media screen and (max-width: 599px) {
  .proj-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */