$color-primary: #9356DC;
$color-primary-lighten: #9256dcb6;
$color-pastel: #9256dc2f;
$color-secondary: #ff79da;
$color-secondary-lighten: #ff79d9a2;
$color-third: #99E2D0;
$color-darken:#1a6653;
$bgc: #f2f2f2;
$btn-shadow-size: 0.6rem 0.6rem 0.6rem;

@mixin h1 {
  font-family: 'Roboto',sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  width: 100%;
}

@mixin title-h4-accueil {
font-size: 1.2rem;
font-weight: 300;
margin: 0;
flex-wrap: wrap;
padding-left: 20px;
padding-right: 20px;
font-family: 'Roboto';
}

@mixin subtitle-h2-menu {
  width: 5%;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom: 3px solid $color-third;
  padding-bottom: 5px;
  margin-left: 20px;
  text-transform: uppercase;
}

@mixin subtitle-h2-accueil{
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 3rem;
}

  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  $breakpoints: (
    desktop:1920px,
    tablette: 1024px,
    mobile: 599px
  );
  
  @mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      @content;
    }
  }
  .proj-layout {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    margin: auto;
    @include mobile-only {
      grid-template-columns: 1fr;
      margin: auto;
    }
  }

  @mixin tablette {
    @media screen and (max-width: map-get($breakpoints, tablette)) {
      @content;
    }
  }  
  
  /* ******header ******* */
@mixin heading {
  display: flex;
  justify-content: center;
  line-height: 60px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  @include heading;
  box-shadow: 0 1px 4px grey;
  border-bottom: 2px solid #f4f4f4;
    a img {
      width: 160px;
    }
}

.header--menu{
  display: flex;
  flex-direction: column;
  align-items: center;
    > .logo-nav{
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      width: 100%;
      box-shadow: 0 1px 4px grey;
      border-bottom: 2px solid #f4f4f4;
      height: 65px;
      > .fleche_menu{
        display: flex;
        position: relative;
        right: 8em;
      }
    }
}

.logo-nav a img{
  width: 200px;
  height: 30px;
}


.cover_img{
height: 300px;
object-fit: cover;
width: 100%;
}

i.fleche_menu{
  font-size: 1.5rem;
  padding-left: 25px;
  color: rgb(63, 60, 60);
}
  /* *************header ********* */






  /* ****************bouton*********** */
  %typography {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 0.9rem;
    box-shadow: $btn-shadow-size;
    font-weight: 400;
    border-radius: 30px;
    width: 200px;
    line-height: 50px;
    height: 50px;
    border: none;
    margin-top: 20px;
    transition: transform 1s, background-color 300ms 3s;
  }
  .btn {
    @extend %typography;
    &:hover {
      transform: scale(1.15);
      background: linear-gradient($color-secondary-lighten, $color-primary-lighten);
    }
  }
  /* *************fin bouton********* */

  /* ************footer************* */
  .nav-footer{
    position: relative;
    margin: 0;
    background-color: rgb(63, 60, 60);
    color: white;
    padding-left: 3rem;
    line-height: 32px;
    display: block;
    h1 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    flex-direction: column;
    }
  }
  
  .footer-list {
    font-family: "roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    & a{
      text-decoration: none;
      color: white;
      flex-direction: column;
      & span{
        position: absolute;
        margin-left: 15px;
      }
    }
  }

.i-foot, .txt-foot{
display: inline-flex;
}

.i-hands{
transform: perspective(150px) rotateZ(125deg);
font-size: 0.8rem;
}

i.ustensils{
  font-size: 0.8rem;
}

  /* ******* fin footer ******* */
  
  /* *******SECTION INTRO ************** */
  .introduction {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 50px;
      > .input-container {
        position: relative;
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        /*@include tablette{
          width: 250px;
          background-color: $color-primary;
          color: white;
          border-radius: 10px;*/
        
          > .input_icon {
            position: absolute;
            padding-right: 8em;
              > .head-titles {
                font-family: "roboto", sans-serif;
                display: block;
                text-align: center;
                line-height: normal;
              }
          }
        
      }
  }       
            
.title_main {
@include h1;
}

h4{
@include title-h4-accueil;
}
          
/*.input-container .input_icon {
    padding: 8px 10px;
}*/
.search_bare{
  width: 100%;
  box-shadow: 0 1px 4px #808080;
  /*border-top: 1px solid;*/
}

@mixin btn-explorer {
padding-top: 20px;
padding-bottom: 20px;
display: flex;
justify-content: center; 
}

  .btn-explorer {
  @include btn-explorer;
  }
  
  input {
    line-height: 40px;
    height: 40px;
    text-align: center;
    border: none;
    width: 100%;
    background-color: hsl(0, 0%, 82.7%);
    display: inline-block;
    flex: 1 1;
  }
  
  input::-webkit-input-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input::-moz-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input:-ms-input-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input::-ms-input-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input::placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  .nav_main{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0;
    > .nav__heading{
      width: 100%;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 20px;
      box-shadow: 1px 1px 0px 0px rgb(78.4%, 77.1%, 77.1%);
      font-family: 'roboto',sans-serif;
      background-color: $bgc;
      margin: .5rem;
      padding: .5rem;
      cursor: pointer;
      &:hover{
        background: #f2eafb;
        box-shadow: 2px 2px 10px 2px #e4d5f6;
      }
      .nav_number{
        border: 1px solid $color-primary;
        background-color: $color-primary;
        color: white;
        line-height: 30px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        position: relative;
        right: 1.5em;
        + .nav_custom_icon{
          color: darkgray;
          font-size: 1.3rem;
          margin-right: 30px;
          transition: transform 300ms ;
          &:hover{
            color: $color-primary;
            + .title_nav{
              font-size: 1em;
            }
          }
        }
      }
    }
  }
@mixin mp-rest-cards{
  font-family: 'Roboto',sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  background-color: $bgc;
  margin-top: 4rem;
}

#restaurant_cards{
  display: grid;
  @include tablette {
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 20vh 1fr 1fr;*/
    flex-wrap: wrap;
    padding-bottom: 4rem;
    gap: 20px;   
    @include mp-rest-cards;
  @include mobile-only{
   display: flex;
   width: 100%;
   flex-direction: column;
    @include mp-rest-cards;
        .__card{
          @include tablette{
            grid-column: 1 / span 3;
            grid-row: 2 / span 4;
            @include mobile-only{
              grid-column: 1 / 2;
              grid-row: 2 / span 6;
              text-decoration: none;
              color: black;
              border-radius: 20px 20px 20px 20px;
              box-sizing: border-box;
              box-shadow: 1px 1px 0 0 darkgray;
              margin-bottom: 20px;
              position:relative;
              background-color: white;    
              .title_nav{
                font-size: 1.2rem;
                font-weight: 900;
                margin: 0;
              }
            }
          }
      }
    }
  }
}

.__card{
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 6px 2px darkgray;
}

.subtitle-accueil{
  @include subtitle-h2-accueil;
  @include tablette{
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 2rem;
  }
}

@mixin txt-card-accueil {
font-family: 'Roboto',sans-serif;
padding-left: 15px;
padding-bottom: 20px;
padding-top: 10px;
padding-right: 20px;
}

.description_card{
@include txt-card-accueil;
  > .des-txt{
    h3{
      @include tablette{
      margin-bottom: 0;
      margin-top: 0;
      font-size: 1.5rem;
        + .pargph{
          @include tablette{
          margin: 0;
          font-size: 1.2rem;
          }
        }
      }
    }
  }
}
.description_card, .i-heart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.i-heart{
font-size: 2rem;
color: rgb(90, 87, 87);
  &:hover{
    color: blueviolet;
  }
}

.welcome_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

@mixin label-nouveau{
  background-color: $color-third;
  width: 100px;
  color: $color-darken;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-weight: 800;
  font-family: 'roboto',sans-serif;
  position: absolute;
  bottom: 11em;
  right: 1em;
}

label{
  @include label-nouveau;
    @include tablette {
      position: relative;
      bottom: 9em;
      left: 1em;
    }
}


/* *****************PAGE MENU LA NOTE ENCHANTEE********************************************** */
.menu_main{
  background-color: $bgc;
  border-radius: 40px 40px 0 0;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: -30px;
  h1, .i-heart{
    display: inline-flex;
    justify-content: space-between;
  }
}


/* *******section les entrées****** */
.entry-contenair{
  width: 100%;
}

.subtitle-menu-card{
    @include subtitle-h2-menu;
  }

.txt-card, strong{
  display: inline-block;
}

@mixin menu-card-typo{
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  padding-left: 15px;
  box-shadow: $btn-shadow-size;
  margin: 20px;
  display: flex;
  font-family: 'roboto', sans-serif;
  line-height: normal;
  flex:1;
  height: 18vh;
}

.enchante, .dish, .pudding{
  @include menu-card-typo;
  > .txt-card{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    h3{
      margin: 0;
      font-size: 1.2rem;
      + p{
        font-size: 0.9rem;
      }
    }
  }
}

strong{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.titre-menu{
    font-family: 'Shrikhand',sans-serif;
    font-size: 1.7rem;
    width: 80%;
    padding-left: 20px;
  }

  $easing: cubic-bezier(.49,.18,.23,1);
  $width: 100px;
  $height: 105px;
  $line-height: 105px;
  $margin-left: 100px;
  $wid-marg: $width + $margin-left;

.btn-freshmint{
  width: $width;
  overflow: hidden;
  height: auto;
  border-radius: 0 20px 20px 0;
  margin-left: 10px;
  margin-right: -100px;
  background-color: $color-third;
  border-radius: 0 20px 20px 0;
  transition: transform 1s ease-in-out;
}

.txt-menu:hover .btn-freshmint{
  transform: translate(-100px, 0);
}

.txt-menu:hover + .check__anim{
    .btn__anim{
      transform: rotate(-360deg);
      transition: transform 1s ease-in-out;
    }
}

.check__anim{
  display: flex;
  justify-content: center;
}

:any-link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

  .btn__check{
      text-align: center;
      height: 18vh;
      line-height: 18vh;
      overflow: hidden;
  }

.check_custom{
  color: #fff;
  background-color: $color-third;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
}
  
  
/* ************************************LOADER SPINNER******************************* */
@keyframes loader-spinner{
  100%{
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader-spinner{
    animation: loader-spinner 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
    background: rgba(10, 10, 10, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 999;
    img{
      height: 10vh;
      position: relative;
      top: 15em;
      opacity: 0.4;
      max-width: 100%;
  }
}

.loader {
  display: inline-block;
  position: relative;
  top: 15em;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  border-top-color: #ff79da;
  animation: loader 2s infinite;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
}

.loader__cover {
  position: relative;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.loader__bar {
  animation: loader 2s infinite;
  position: absolute;
  left: 0;
  top: 5em;
  border-radius: 100%;
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
}


.loader::before {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #ff79da;
  animation: loader 2s infinite;
}

.loader::before {
  content: "";
}