$color-primary: #9356DC;
$color-pastel: #9256dc2f;
$color-secondary: #ff79da;
$color-secondary-lighting : #ff79d9c4;
$color-third: #99E2D0;
$color-darken:#1a6653;
$bgc: #f2f2f2;
$btn-shadow-size: 0.6rem 0.6rem 0.6rem;

@mixin h1 {
  font-family: 'Roboto',sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
@mixin subtitle-h2-menu {
  width: 5%;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-bottom: 3px solid $color-third;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.loading{
  border-top: 20px dotted $color-primary;
  border-left: 20px dotted $color-secondary;
  border-right: 20px dotted $color-third;
  border-bottom: 20px dotted $color-primary;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  animation: spin 4s 0.5s linear;
  animation-delay: 4s;
}

@-webkit-keyframes spin{
0%{
  -webkit-transform: rotate(0deg);
}
100%{
  -webkit-transform: rotate(360deg);
  }
}

@keyframes spin{
0%{
  transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
  }
}

  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  $breakpoints: (
    desktop:1920px,
    tablette: 900px,
    mobile: 599px
  );
  
  @mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      @content;
    }
  }
  
  .proj-layout {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    margin: auto;
    @include mobile-only {
      grid-template-columns: 1fr;
      margin: auto;
    }
  }
  
  /* ******header ******* */
@mixin heading {
  display: flex;
  justify-content: center;
  line-height: 60px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  @include heading;
  box-shadow: 0 1px 4px grey;
  border-bottom: 2px solid #f4f4f4;
    a img {
      width: 160px;
    }
}

.header--menu{
  display: flex;
  flex-direction: column;
  align-items: center;
    > .logo-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    background: white;
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 4px gray;
    border-bottom: 2px solid #f4f4f4;
    padding: 5px 46px;
      > .fleche_menu{
      display: block;
      margin-right: 275px;
      position: absolute;
      left: 25px;
      color: #000;
      }
    }
}

.cover_img{
height: 100%;
object-fit: cover;
width: 100%;
}

i.fleche_menu{
  font-size: 1.5rem;
  padding-left: 25px;
  color: rgb(63, 60, 60);
}


  /* *************header ********* */
  /* ****************bouton*********** */
  %typography {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 0.8rem;
    box-shadow: $btn-shadow-size;
    font-weight: 400;
    border-radius: 20px 20px 20px 20px;
    width: 250px;
    line-height: 40px;
    height: 40px;
    border: none;
    transition: transform 2s, background-color 300ms 3s;
  }
  .btn {
    @extend %typography;
    &:hover {
      transform: scale(1.15);
      background-color: $color-secondary-lighting;
    }
  }
  /* *************fin bouton********* */
  /* ************footer************* */
  .nav-footer{
    position: relative;
    margin: 0;
    background-color: rgb(63, 60, 60);
    color: white;
    padding: .5rem .5rem 2rem .5rem;
    line-height: 32px;
    display: block;
    h1 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    flex-direction: column;
    }
  }
  
  .footer-list {
    font-family: "roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    & a{
      text-decoration: none;
      color: white;
      flex-direction: column;
      & span{
        position: absolute;
        margin-left: 15px;
      }
    }
  }

.i-foot, .txt-foot{
display: inline-flex;
}

.i-hands{
transform: perspective(150px) rotateZ(125deg);
font-size: 0.8rem;
}

i.ustensils{
  font-size: 0.8rem;
}

  /* ******* fin footer ******* */
  
  .introduction {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 50px;
    > .input-container {
      position: relative;
      font-family: "Roboto", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 100%;
      > .input_icon {
        position: absolute;
        right: 20em;
        padding-right: 10px;
          > .head-titles {
            font-family: "roboto", sans-serif;
            display: block;
            text-align: center;
            line-height: normal;
            .title_main {
              @include h1;
              + h4 {
                font-size: 1rem;
                font-weight: 100;
                margin: 0;
              }
            }
          }
      }
    }
  }
/*.input-container .input_icon {
    padding: 8px 10px;
}*/
.search_bare{
  width: 100%;
  box-shadow: 0 1px 4px #808080;
  /*border-top: 1px solid;*/
}
  .btn-explorer {
    padding-top: 20px;
  }
  
  input {
    line-height: 40px;
    height: 40px;
    text-align: center;
    border: none;
    width: 100%;
    background-color: hsl(0, 0%, 82.7%);
    display: inline-block;
  }
  
  input::-webkit-input-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input::-moz-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input:-ms-input-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input::-ms-input-placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  input::placeholder {
    text-align: center;
    color: black;
    opacity: 1;
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
  }
  
  .nav_main{
    padding-left: 5%;
    padding-right: 5%;
    > .nav__heading{
      width: 100%;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 20px;
      box-shadow: 1px 1px 0px 0px rgb(78.4%, 77.1%, 77.1%);
      font-family: 'roboto',sans-serif;
      background-color: $bgc;
      margin: .5rem;
      padding: .5rem;
      &:hover{
        background-color: $color-pastel;
      }
      .nav_number{
        border: 1px solid $color-primary;
        background-color: $color-primary;
        color: white;
        line-height: 30px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        text-align: center;
        position: relative;
        right: 1.5em;
        + .nav_custom_icon{
          color: darkgray;
          font-size: 1.3rem;
          margin-right: 30px;
          + .title_nav{
            font-size: 1em;
          }   
        }
      }
    }
  }

#restaurant_cards{
width: 100%;
font-family: 'Roboto',sans-serif;
  .__card{
    display: block;
    text-decoration: none;
    color: black;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 0 0 darkgray;
    margin: 20px;
    position:relative;
    .title_nav{
      font-size: 1.2rem;
      font-weight: 900;
      margin: 0;
      + .pargph{
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }
}

p{
margin: 0;
}
.description_card{
padding-left: 15px;
padding-bottom: 10px;
padding-top: 10px;
padding-right: 20px;
margin: 0;
}
.description_card, .i-heart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.i-heart{
font-size: 2rem;
color: grey;
  &:hover{
    color: blueviolet;
  }
}

.welcome_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

label{
  background-color: $color-third;
  width: 100px;
  color: $color-darken;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-weight: 500;
  position: absolute;
  bottom: 11em;
  right: 1em;
}


/* *****************PAGE MENU LA NOTE ENCHANTEE********************************************** */
.menu_main{
  background-color: $bgc;
  border-radius: 30px 30px 0 0;
  padding-left: 2%;
  padding-right: 2%;
  h1, .i-heart{
    display: inline-flex;
    justify-content: space-between;
  }
}


/* *******section les entrées****** */
.entry-contenair{
  width: 100%;
}

.subtitle-menu-card{
    @include subtitle-h2-menu;
  }

.pargph, strong{
  display: inline-flex;
}


@mixin menu-card-color{
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
  padding-left: 20px;
  padding-top: 5px;
  box-shadow: $btn-shadow-size;
  margin: 20px;
  font-family: 'roboto', sans-serif;
  line-height: normal;
}

.enchante, .dish, .pudding{
  @include menu-card-color;
}

.titre-menu{
    font-family: 'Shrikhand',sans-serif;
    font-size: 2rem;
    width: 90%;
    margin: 0;
  }

.introduction-menu{
  display: flex;
  justify-content: center;
  align-content: center;
  figure{
    margin:0;
    padding: 0;
    & img{
      object-fit: cover;
      height: 270px;
      width: 100%;
      z-index: -1;
    }
  }
}