html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.proj-layout {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin: auto;
}

@media screen and (max-width: 599px) {
  .proj-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: auto;
  }
}

/* ******header ******* */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 60px;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.header a img {
  width: 160px;
}

.header--menu {
  border: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--menu > .logo-nav img {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--menu > .logo-nav img + .fleche_menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

/* *************header ********* */
/* ****************bouton*********** */
.btn {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #ff79da;
  font-size: 0.8rem;
  -webkit-box-shadow: 0.6rem 0.6rem 0.6rem;
          box-shadow: 0.6rem 0.6rem 0.6rem;
  font-weight: 400;
  border-radius: 20px 20px 20px 20px;
  width: 250px;
  line-height: 40px;
  height: 40px;
  border: none;
  -webkit-transition: background-color 300ms 3s, -webkit-transform 2s;
  transition: background-color 300ms 3s, -webkit-transform 2s;
  transition: transform 2s, background-color 300ms 3s;
  transition: transform 2s, background-color 300ms 3s, -webkit-transform 2s;
}

.btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #ff79d9c4;
}

/* *************fin bouton********* */
/* ************footer************* */
.nav-footer {
  position: relative;
  margin: 0;
  background-color: #3f3c3c;
  color: white;
  padding: .5rem .5rem 2rem .5rem;
  line-height: 32px;
  display: block;
}

.nav-footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list {
  font-family: "roboto", sans-serif;
  list-style-type: none;
  margin: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list a {
  text-decoration: none;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-list a span {
  position: absolute;
  margin-left: 15px;
}

.i-foot, .txt-foot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.i-hands {
  -webkit-transform: perspective(150px) rotateZ(125deg);
          transform: perspective(150px) rotateZ(125deg);
  font-size: 0.8rem;
}

i.ustensils {
  font-size: 0.8rem;
}

/* ******* fin footer ******* */
.introduction {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.introduction > .input-container {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
}

.introduction > .input-container > .input_icon {
  position: absolute;
  width: 90%;
  top: 2%;
}

.introduction > .input-container > .input_icon > .head-titles {
  font-family: "roboto", sans-serif;
  display: block;
  text-align: center;
  line-height: normal;
}

.introduction > .input-container > .input_icon > .head-titles .title_main {
  font-family: 'Roboto',sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.introduction > .input-container > .input_icon > .head-titles .title_main + h4 {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

.btn-explorer {
  padding-top: 20px;
}

input {
  line-height: 40px;
  height: 40px;
  text-align: center;
  border: none;
  width: 100%;
  background-color: lightgray;
  display: inline-block;
}

input::-webkit-input-placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

input:-ms-input-placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

input::-ms-input-placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

input::placeholder {
  text-align: center;
  color: black;
  opacity: 1;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.nav_main {
  padding-left: 5%;
  padding-right: 5%;
}

.nav_main > .nav__heading {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 0px 0px #c8c5c5;
          box-shadow: 1px 1px 0px 0px #c8c5c5;
  font-family: 'roboto',sans-serif;
  background-color: #f2f2f2;
  margin: .5rem;
  padding: .5rem;
}

.nav_main > .nav__heading:hover {
  background-color: #9256dc2f;
}

.nav_main > .nav__heading .nav_number {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: white;
  line-height: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  right: 1.5em;
}

.nav_main > .nav__heading .nav_number + .nav_custom_icon {
  color: darkgray;
  font-size: 1.3rem;
  margin-right: 30px;
}

.nav_main > .nav__heading .nav_number + .nav_custom_icon + .title_nav {
  font-size: 1em;
}

#restaurant_cards {
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

#restaurant_cards .__card {
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 0 0 darkgray;
          box-shadow: 1px 1px 0 0 darkgray;
  margin: 20px;
  position: relative;
}

#restaurant_cards .__card .title_nav {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
}

#restaurant_cards .__card .title_nav + .pargph {
  font-weight: 300;
  font-size: 1rem;
}

p {
  margin: 0;
}

.description_card {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  margin: 0;
}

.description_card, .i-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i-heart {
  font-size: 2rem;
  color: grey;
}

.i-heart:hover {
  color: blueviolet;
}

.welcome_img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

label {
  background-color: #99E2D0;
  width: 100px;
  color: #1a6653;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  font-weight: 500;
  position: absolute;
  bottom: 11em;
  right: 1em;
}

/* *****************PAGE MENU LA NOTE ENCHANTEE********************************************** */
.menu_main {
  font-family: 'Roboto',sans-serif;
}
/*# sourceMappingURL=main.css.map */