/* ******************************************MOBILE FIRST******************************************************* */
@media screen and (min-width:280px) and (max-width:500px) {
    body{
        margin: auto;
        margin: 0 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    body *{
        box-sizing: border-box;
    }

    #wrapper{
        min-width: 280px;
        max-width: 500px;
        margin: auto;
        padding-left: 3%;
        padding-right: 3%;
        overflow-x: hidden;
    }
}